@page
@model Epets.App.Presentacion.Pages.InicioPropietarioModel
@{
    ViewData["Title"] = "E-Pets-Propietarios";
}
<style>
    tr:hover {
        background-color: rgb(252, 255, 95);
    }

    #jhan {
        border-radius: 150%;
        height: 50px;
        width: 50px;
        font-size: 1px;

    }
    #BannerPropietarios{
        
        
        background-image: url("../img/Banner_Dueños.jpg");
    }

    #jhan:hover {
        border-radius: 0%;
        height: 50px;
        width: 100px;
        font-size: 30px;

    }

    #btnConsultar:hover{
        background-color: #BBBBBB;
    }

     #btnRegistrar:hover{
        background-color: #0DC7E5;
    }

    #btnActualizar:hover{
        background-color: #10D691;
    }

    #btnEliminar:hover{
        background-color: #FE5D6E;
    }


    #imagen {
        border-top-left-radius: 70%;
    }

    #Cardimagen:hover #imagen {
        border-top-left-radius: 0px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4">Bienvenido a Propietarios</h1>
                <p>MinTic-2021 <a href="/Grupo_4/InicioGrupo_4">Grupo_4</a>.</p>
            </div>

            <div id="BannerPropietarios" class="page-banner overlay-dark bg-image">
                <div class="banner-section">
                    <div class="container text-center wow fadeInUp">
                        <nav aria-label="Breadcrumb">
                            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                                <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Propietarios</li>
                            </ol>
                        </nav>
                        <h1 class="font-weight-normal">Nuestros Propietarios</h1>
                    </div> <!-- .container -->
                </div> <!-- .banner-section -->
            </div> <!-- .page-banner -->

        </div>
    </div>
    <div class="row">
        
        <div class="col-md-7 col-sm-12">
            <label for="          "></label>
            <caption><h2>Listado Propietarios</h2></caption>
            <table class="table">
                <!-- <Mascotas a Cargo</caption>-->
                <thead>
                    <tr class="bg-warning" id="tablaj">
                        <th scope="col">Codigo</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres </th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        
                        <th scope="col">     </th>
                        <th scope="col">¿QUE </th>
                        <th scope="col"> DESEAS</th>
                        <th scope="col"> HACER </th>
                        <th scope="col"> ?.. </th>
                        
                       

                    </tr>
                </thead>
               <tbody>
                    @foreach (var item in Model.Propietarios)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Cedula
                            </td>
                            <td>
                                @item.Nombre
                            </td>
                            <td>
                                @item.Apellido
                            </td>
                            <td>
                                @item.Direccion
                            </td>
                            <td>
                                @item.Telefono
                            </td>
                            
                            
                            <td>
                                
                            </td>                 
                                 <td>                            
                                

                                <a asp-page="/Propietarios/BuscarPropietario" asp-route-Id="@item.Id"><img src="~/img/iconos/Buscar.png"  alt="" style="width: 30px;"  title="¿Buscar?" ></a>
                                
                                </td>
                                <td>
                               
                                <a asp-page="/Propietarios/AgregarPropietario" ><img src="~/img/iconos/Guardar.png" alt="" style="width: 30px;" title="¿Nuevo Propietario?" onclick="MensajeGuardar();"></a>
                                </td>
                                <td>
                                <a asp-page="/Propietarios/EditarPropietario"  asp-route-Id="@item.Id"><img src="~/img/iconos/Editar.png" alt="" style="width: 30px;" title="¿Editar?" ></a>
                             
                                </td>                               
                                <td>
                                <a asp-page="/Propietarios/BuscarPropietario"  asp-route-Id="@item.Id"><img src="~/img/iconos/Eliminar.png" alt="" style="width: 30px;"title="¿Eliminar?" onclick="MensajeEliminar();"></a>
                             
                                </td>                      
                             
                        </tr>
                        }
                    </tbody>
            </table>          
           
        </div> <!-- .container -->
    </div> <!-- .page-section -->

</div> <!-- .page-section -->

