@page
@model Epets.App.Presentacion.Pages.BuscarMedico2Model
@{
     ViewData["Title"] = "E-Pets-Medicos";
}
<style>
    tr:hover {
        background-color: rgb(252, 255, 95);
    }

    #jhan {
        border-radius: 150%;
        height: 50px;
        width: 50px;
        font-size: 1px;

    }

    #BannerVeterinarios {


        background-image: url("../img/Banner_Medicos.png");
    }

    #jhan:hover {
        border-radius: 0%;
        height: 50px;
        width: 100px;
        font-size: 30px;

    }

    #btnConsultar:hover {
        background-color: #BBBBBB;
    }

    #btnRegistrar:hover {
        background-color: #0DC7E5;
    }

    #btnActualizar:hover {
        background-color: #10D691;
    }

    #btnEliminar:hover {
        background-color: #FE5D6E;
    }
    #btnLimpiar:hover {
        background-color: #CEECE2;
    }


    #imagen {
        border-top-left-radius: 70%;
    }

    #Cardimagen:hover #imagen {
        border-top-left-radius: 0px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4">Bienvenido a Buscar Medico</h1>
                <p>MinTic-2021 <a href="/Grupo_4/InicioGrupo_4">Grupo_4</a>.</p>
            </div>

            <div id="BannerVeterinarios" class="page-banner overlay-dark bg-image">
                <div class="banner-section">
                    <div class="container text-center wow fadeInUp">
                        <nav aria-label="Breadcrumb">
                            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                                <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Veterinarios_Buscar Medico</li>
                            </ol>
                        </nav>
                        <h1 class="font-weight-normal">Informacion Medico</h1>
                    </div> <!-- .container -->
                </div> <!-- .banner-section -->
            </div> <!-- .page-banner -->

           
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <label>
                                <h1 class="text-center wow fadeInUp">Datos Medido</h1>
                            </label>
                        </div>
                    </div>
                    <form class="main-form">
                        <div class="row">
                            
                            <div class="col-md-6 ">
                                <label>Codigo: </label>
                                <input id=Codigo type="text" class="form-control" value="@Model.Medicos.Id" disabled
                                    style="margin-bottom: 20px;">
                            </div>
                            <div class="col-md-6 ">
                                <label>Cedula: </label>
                                <input id=Cedula type="text" class="form-control" value="@Model.Medicos.Cedula" 
                                    style="margin-bottom: 20px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">

                            <div class="col-md-6 ">
                                <label>Nombres: </label>
                                <input id=Nombres type="text" class="form-control" value="@Model.Medicos.Nombre" 
                                    style="margin-bottom: 20px;">
                            </div>

                            <div class="col-md-6 ">
                                <label>Apellidos: </label>
                                <input id=Apellidos type="text" class="form-control" value="@Model.Medicos.Apellido"
                                    style="margin-bottom: 20px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6 ">
                                <label>Tarjeta Profesional: </label>
                                <input id=TarjetaProfesional type="text" class="form-control" value="@Model.Medicos.TarjetaProfesional"  
                                style="margin-bottom: 20px;">
                            </div>
                            
                            <div class="col-md-6 ">
                                <label>Telefono: </label>
                                <input id=Telefono type="text" class="form-control" value="@Model.Medicos.Telefono" 
                                style="margin-bottom: 20px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6 ">
                                <label>Especialidad: </label>
                                <select name="Tipo Animal" id="Especialidad" class="custom-select"
                                    style="margin-bottom: 20px;">
                                    <option value="Elija opcion">--Elija Especialidad--</option>
                                    <option value="Opcion Perro">Perro</option>
                                    <option value="Opcion Gato">Gato</option>
                                    <option value="Opcion Pajaro">Pajaro</option>
                                    <option value="Opcion todos">Perro, Gato, Pajaro</option>

                                </select>


                            </div>
                            
                            <div class="col-md-6 ">
                                <label>Hospital: </label>
                                <select name="Hospital" id="Hospital" class="custom-select"
                                    style="margin-bottom: 20px;">
                                    <option value="Elija opcion">--Elija Hospital--</option>
                                    <option value="Opcion Perro">Mascota feliz </option>
                                    <option value="Opcion Gato">clinVet</option>
                                    <option value="Opcion Pajaro">el establo</option>
                                    <option value="Opcion todos">la herradura</option>

                                </select>


                            </div>
                        </div>


                        <div class="row">
                        
                       <button id="btnRegistrar" type="submit" class="btn btn-success mt-3 wow zoomIn"
                        style="margin-bottom: 20px; margin-left: 10px;" asp-page="/Medicos/EditarMedico">Actualizar</button>

                            <button id="btnEliminar" type="submit" class="btn btn-danger mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;">Eliminar</button>
                                <a class="btn btn-info mt-3 wow zoomIn" id="btnAtras"
                             style="margin-bottom: 20px; margin-left: 10px;" href="/Medicos/InicioMedico" role="button">Atras</a>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

</div> <!-- .page-section -->

<script>

    function MensajeEliminar{
        confirm ("¿Esta seguro de Eliminar el Registro?");
    }
     function MensajeActualizar{
        confirm ("¿Esta seguro de Actualizar el Registro?");
    }
    function MensajeGuardar{
        confirm ("¿Esta seguro de Guardar el Registro?");
    }
    function MensajeBuscar{
        confirm ("¿Esta seguro de Buscar el Registro?");
    }

    function Limpiar(){
        $("#Cedula").val('');
        $("#Nombres").val('');
        $("#Apellidos").val('');
        $("#TarjetaProfesional").val('');
        $("#Telefono").val('');


    }

    function CargarActualizacion(Id){

        $("#Nombres").val(id);

    }

</script>
